.form{
    margin: auto;
    align-items: center;
    text-align: center;
    width: 60%;
    margin:20px auto;
    background-image:linear-gradient(rgb(63, 94, 181),rgb(178, 98, 98));
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.cloud{
    width: 40%;
}

.input{
    width: 30%;
    padding: 5px;
}

.button{
    padding: 5px;
    width: 20%;
    margin-left: 1%;
}

@media screen and (max-width:768px) {
    .input,.button{
        display: block;
        margin: 2px auto;
    }
    .form{
        width: 90%;
    }
}